h2 {
    text-align: center;
}

#order-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5em;
    height: 2em;
}

#order-form .btn {
    background-color: black;
    border-style: none;
    color: white;
}

.checkBox {
    height: 30px;
    width: 30px;
    border: 2px solid grey
}

.tick {
    margin-left: -30px;
    margin-right: 5px;
    font-size: 2em;
    color: orange;
    display: none;
}
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    background-color: black;
    color: whitesmoke;
    margin: -10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    border: 1px solid black;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 1em;
}

#count {
    margin-right: 0.2em;
    padding: 6px;
    background-color: orange;
    border-radius: 5%;
    font-weight: bold;
}

#menu {
    width: 100%;
}